.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh; /* Keep min-height for full viewport height */
  margin-bottom: 100px;
  overflow: hidden; /* Prevent overlap with other components */

  /* Added flexbox to center content */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

/* Title styles */
.container h1 {
  font-size: 2rem;
  margin-bottom: 4rem; /* Reduced margin for mobile */
  color: var(--text-color);
}

/* Work Experience list styles */
.workExperienceList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .container {
    margin-bottom: 150px; /* Additional margin for mobile to prevent overlap */

    /* Ensure content is still centered in mobile view */
    flex-direction: column; /* Keep flex column for vertical stacking */
  }

  .container h1 {
    font-size: 1.5rem; /* Smaller font size for mobile */
    margin-bottom: 1.5rem;
  }

  .workExperienceList {
    flex-direction: column; /* Stack items vertically on mobile */
    gap: 15px;
  }
}
